<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function() {
  $('#{{ include.title | slugify }}').DataTable({
        ajax: {
          type: 'POST',
          url: 'https://script.google.com/macros/s/AKfycbzcJDnk1IuF-lNGdnMX4lX1rh1hT649vW8M5Z7QE9F1lVAsDjXwASMiP-P3M_nSijJLPA/exec',
          dataSrc: 'data',
          cache: true,
        },
        columns: [
            {data: 'Student Name', title: "Student Name", 
              render: function (data, type, row) {
                // return '<a href="" target="_blank">'+data+'</a>'
                return '<form name="form1" action="test1.html" method="POST" >' + 
                  '<input type="hidden" id="action" name="action" value="'+ data +'"/>' + 
                  '<a href="javascript:document.form1.submit();">'+ data +'</a></form>'
            }},
            {data: 'Readiness', title: "Readiness"},
            {data: 'CMJ atigue', title: "CMJ atigue"},
            {data: 'DJ Fatigue', title: "DJ Fatigue"},
            {data: 'UpperBody Fatigue', title: "UpperBody Fatigue"},
            {data: 'fatigue', title: "fatigue"},
            {data: 'stress', title: "stress"},
            {data: 'muscle soreness', title: "muscle soreness"},
            {data: 'sleep status', title: "sleep status"}
            
        ]
    });
});</script>
{% capture datafile %}{{ include.file }}{% endcapture %}
<div class="card shadow mb-4">
<div class="card-header py-3">
  <label>
    Date:
    <input type="date" id="selected_date" name="selected_date">
  </label>
  <h6 class="m-0 font-weight-bold text-primary">{{ include.title }}</h6>
</div>
<div class="card-body">
  <div class="table-responsive">
   <table class="table table-bordered" id="{{ include.title | slugify }}" width="100%" cellspacing="0"></table>
  </div>
</div>
