<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/login.js"></script>
<script>
$(document).ready(function() {
  fillDatatable("")
});


function overwriteDatatable(){
  let selected_date = $('#selected_date').val().toString(); 
  console.log(selected_date);
  destroyDatatable();
  fillDatatable(selected_date)
}

function destroyDatatable(){
  let dt = $('#{{ include.title | slugify }}').DataTable();
  dt.destroy();
}

function calcTrafficLightStatus(_data, _type, _row) {
  if (_data === 0.0){
    _status = '<p>⚫️' + _data + '</p>'; // Black
  } else if (_data <= 0.5){
    _status = '<p>🔴' + _data + '</p>'; // Red
  } else if ((_data > 0.5) && (_data < 0.8)){
    _status = '<p>🟡' + _data + '</p>'; // Yellow
  } else {
    _status = '<p>🟢' + _data + '</p>'; // Green
  }
  return _status
}

function fillDatatable(date=""){
  postData('https://script.google.com/macros/s/AKfycbz727bIm-dLV_d7CKxfP5j1EIV6I2zyQ6HgqyEVyxk3bDFxeB7eX8mlchKdN5Ioc59BJg/exec', 
  { 
    accesskey: getAccessKey(),
    school: getSchool(),
    type: "search_by_date",
    date: date,
    sport: getSport()
  }).then((respData) => {
    console.log(respData); // JSON data parsed by `data.json()` call
    // if (respData['data'].startsWith("error_msg") !== true)){
    if (Array.isArray(respData['data'])){
      $('#{{ include.title | slugify }}').DataTable({
        data: respData['data'],
        columns: [
          {data: 'Student Name', title: "Student Name", render: function (_data, _type, _row) {
            return '<a href="javascript:reFillChart(\''+ _data +'\');">'+ _data +'</a>'
          }},
          {data: 'Readiness', title: "Readiness", render: calcTrafficLightStatus},
          {data: 'UpperBody Fatigue', title: "UpperBody Fatigue", render: calcTrafficLightStatus},
          {data: 'Avg Fatigue', title: "Avg. Fatigue", render: calcTrafficLightStatus},
          {data: 'Avg Stress', title: "Avg. Stress", render: calcTrafficLightStatus},
          {data: 'Avg Muscle Soreness', title: "Avg. Muscle Soreness", render: calcTrafficLightStatus},
          {data: 'Avg Sleep Status', title: "Avg. Sleep Status", render: calcTrafficLightStatus}
            
          ]
      });
    }
  });
}
    
    
</script>
{% capture datafile %}{{ include.file }}{% endcapture %}
<div class="card shadow mb-8">
  <div class="card-header py-3  d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">{{ include.title }}</h6>
    <div>
      <label>Date:
        <input type="date" id="selected_date" name="selected_date" onchange="overwriteDatatable()">
      </label>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="{{ include.title | slugify }}" width="100%" cellspacing="0"></table>
    </div>
  </div>
</div>
  