<p>{{ include.school }}</p>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
async function postData(url="", data={}) {
  const response = await fetch(url, {
    redirect: "follow",
    method: "POST",
    body: JSON.stringify(data),
    headers: {
      "Content-Type": "text/plain;charset=utf-8",
    },
  });
  return response.json();
}


$(document).ready(function() {
  fillDatatable("{{ include.school }}", "search_by_date", "")
});

function overwriteDatatable(){
  let selected_date = $('#selected_date').val().toString(); 
  console.log(selected_date);
  destroyDatatable();
  fillDatatable("{{ include.school }}", "search_by_date", selected_date)
}

function destroyDatatable(){
  let dt = $('#{{ include.title | slugify }}').DataTable();
  dt.destroy();
}

function fillDatatable(school="", type="", date=""){
  postData('https://script.google.com/macros/s/AKfycbzcJDnk1IuF-lNGdnMX4lX1rh1hT649vW8M5Z7QE9F1lVAsDjXwASMiP-P3M_nSijJLPA/exec', 
  { 
    school: school,
    type: type,
    date: date 
  }).then((respData) => {
    console.log(respData); // JSON data parsed by `data.json()` call
    $('#{{ include.title | slugify }}').DataTable({
      data: respData['data'],
      columns: [
        {data: 'Student Name', title: "Student Name", render: function (data, type, row) {
          // return '<a href="" target="_blank">'+data+'</a>'
            return '<form name="form1" action="test1.html" method="POST" >' + 
              '<input type="hidden" id="action" name="action" value="'+ data +'"/>' + 
              '<a href="javascript:document.form1.submit();">'+ data +'</a></form>'
        }},
        {data: 'Readiness', title: "Readiness", render: function (data, type, row) {
          if (data <= 0.5){
            readiness_status = '<p>🔴</p>'; // Red
          } else if ((data > 0.5) && (data < 0.8)){
            readiness_status = '<p>🟡</p>'; // Yellow
          } else {
            readiness_status = '<p>🟢</p>'; // Green
          }
          return readiness_status
        }},
        {data: 'CMJ Fatigue', title: "CMJ Fatigue"},
        {data: 'DJ Fatigue', title: "DJ Fatigue"},
        {data: 'UpperBody Fatigue', title: "UpperBody Fatigue"},
        {data: 'fatigue', title: "fatigue"},
        {data: 'stress', title: "stress"},
        {data: 'muscle soreness', title: "muscle soreness"},
        {data: 'sleep status', title: "sleep status"}
          
        ]
      });
    });
}
    
    
</script>
{% capture datafile %}{{ include.file }}{% endcapture %}
<div class="card shadow mb-8">
  <div class="card-header py-3  d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">{{ include.title }}</h6>
    <div>
      <label>Date:
        <input type="date" id="selected_date" name="selected_date" onchange="overwriteDatatable()">
      </label>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="{{ include.title | slugify }}" width="100%" cellspacing="0"></table>
    </div>
  </div>
</div>
  