<link href="{{ site.url }}/{{ site.baseurl }}/assets/css/login.css" rel="stylesheet">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/login.js"></script>
<div class="form-login" id="myForm">
  <form action="javascript:void(0);" class="form-container">
    <h1>Login</h1>
    <label for="school"><b>School</b></label>
    <input type="text" id="input-school" placeholder="Enter School" name="school" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" id="input-accesskey" placeholder="Enter Accesskey" name="psw" required>
    <button type="submit" class="btn-login" onclick="setkey()">Login</button>
  </form>
</div>
<script>
  
  function setkey(){
    let rerUrl = null;
    let inputSchool = document.getElementById("input-school")
    let inputAccesskey = document.getElementById("input-accesskey")
    
    setWithExpiry("accesskey", 
      {
        "school": inputSchool.value,
        "accesskey": inputAccesskey.value
      }, 
      5000)
    rerUrl = findGetParameter()
    if ((rerUrl === null) || (typeof rerUrl === "undefined") || (rerUrl === "")) { 
      window.location = "https://tpckenny1.github.io/";
    } else {
      window.location = "https://tpckenny1.github.io/" + rerUrl;
    }
  }

</script>