<link href="{{ site.url }}/{{ site.baseurl }}/assets/css/login.css" rel="stylesheet">
<div class="form-login" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>
    <label for="school"><b>School</b></label>
    <input type="text" placeholder="Enter School" name="school" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <button type="submit" class="btn">Login</button>
  </form>
</div>