<link href="{{ site.url }}/{{ site.baseurl }}/assets/css/login.css" rel="stylesheet">
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/login.js"></script>
<div class="form-login" id="myForm">
  <form action="#" class="form-container">
    <h1>Login</h1>
    <label for="school"><b>School</b></label>
    <input type="text" id="input-school" placeholder="Enter School" name="school" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" id="input-accesskey" placeholder="Enter Accesskey" name="psw" required>
    <button type="submit" class="btn-login">Login</button>
  </form>
</div>